<form method='post' action='/addprofile'>

  Name:  <input placeholder="name" type="text" name="name"><br>
  Email: <input placeholder="email" type="text" name="email"><br>
  Image: <input placeholder="image-link" type="text" name="img"><br>

<button type="sumbmit">
</form>
