<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h1>Enter a user:</h1>
    <form method="POST" action="./add">
      Name: <input type="text" name="name">
      Email: <input type="text" name="email">
      Site URL: <input type="text" name="URL">
      Profile Pic URL: <input type="text" name="profile_pic">
      <input type="submit">
    </form>
  </body>
</html>
