<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each result}}
      <li><a href="/user/{{id}}">{{name}} ({{title}})</a></li>
    {{/each}}
    </ul>
  <a href="/add">add a user</a>
  <a href="/blogs">view blogs</a>
  </body>
</html>
