<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Favourites</title>
</head>
<body>
  <h1>{{user.name}} favourites {{user.userdata}}</h1>
   <!-- {{#each user}} -->
   {{#each userdata}}
  <h3>{{name2}}</h3>
  {{/each}}
  <!-- {{/each}} -->
</body>
</html>

