<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <form method="POST" action="./post">
      Title: <input type="text" name="title"> </br>
      Post: <input type="text" name="post"> 
      <input type="submit">
    </form>
  </body>
</html>
