
<body>
  
  <h1>{{#each profs}}{{name}}{{/each}}</h1>
  
  <ul>
    {{#each profs}}
    <li>Name: {{name}}</li>
    <li>Email: {{email}}</li>
    <li>URL: {{url}}</li>
    {{/each}}
  </ul>

</body>
