
<ul>
  <li>
    {{#each user}}
      {{name}}<br>
      {{email}}<br>
      <img src="{{img}}">
    {{/each}}
  </li>
</ul>

{{!-- {{>editprofile}} --}}
<a href="/editprofile"></a>
<a href="/">Back to Index</a>

